<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Osiris Player</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="{{ asset('bundles/osirisapp/css/player.css') }}">
        
    </head>
    <body>
       

        <div class="player-wrapper">
            <video class="player" id="player" controls>
                <source src="{{ asset('medias/film.mp4') }}" type="video/mp4">
            </video>

            <div class="player-controls">
                <button id="play-pause-button" class="play" title="Play" onclick="togglePlayPause()">Play</button>
            </div>
        </div>

        
       
        <script src="{{ asset('bundles/osirisapp/js/api.js') }}"></script>
        <script src="{{ asset('bundles/osirisapp/js/player.js') }}"></script>

        <script>
        	Api.beginConnection()
        </script>
</body>
</html>
